/*! ccshare.css v0.0.7 | (c) C.I.R.C.E.'s & affini | https://ima.circex.org/license.md */
/* === LICENZA = LICENSE ===
* This file is released under license Against DRM 2.0 - We do not like DRM
*
* The license guarantees the rights to: reproduce, distribute, publish, perform, broadcast, modify, elaborate, transcribe, translate, lend, rent and sell the content.
* It prohibits to use the content, when distributed togeher with Digital Rights Management mechanisms.
* For more information on DRM see https://www.defectivebydesign.org/what_is_drm_digital_restrictions_management
*
* Every re-distribution, sharing, modification has to maintain the same conditions, mentioning the original authors
* Read the full license at https://web.archive.org/web/20170327160245/http://www.freecreations.org/Against_DRM2.html
* or in the file called LICENSE.md that comes together with this file.
* 
* The original authors of this piece of code can be contacted, supported, etc. by email: info at circe dot org
*
* Please keep the following (C) notice, if you are working on this file.
* [Original work] Copyright (C) [2019] [C.I.R.C.E.'s & affini  https://circex.org]
*
* === "The method is content" = "Il metodo e' contenuto" ===
*/

 @font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body{
	font-family: 'Linux Libertine', Times, serif;
	line-height:1.4em;
	font-size:16px;
	}

div#ccshare_panel {
	font-family: source_sans_pro, Arial, sans-serif;
	font-size:20px;
	color:#d08;
	text-align:left;
	width: auto;
	min-height:1em;
	border: 0;
	width:19.5%;
	position:absolute;
  right:0;
  display:none;
	z-index:999;
/*	-webkit-box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);
       -moz-box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);
            box-shadow:-1px 0px 20px 0px rgba(71,71,71,0.8);*/
	/*border-radius: 10px;*/
			
}




div#ccshare_panel a, div#ccshare_panel a:visited, div#ccshare_panel a:active{
    text-decoration: none;
	color:#d08;
}

div#ccshare_cctext a:hover{
	text-decoration: underline;
}

div.ccshare_icon{
	display: flex;
    align-items: center;
	margin:2px 0;}

div#ccshare_title{
  width: 100%;
    /*background: url('../img/title.png') left top no-repeat;*/
/*    height: 30px;
	margin-top: 0;
	flex: 1 0 0;*/
}
div#ccshare_subtitle{
	font-weight: bold;
	padding:0.5em 0 0 0;
}

div#ccshare_text{
  display: none;
	padding: 0;
  font-family: 'Linux Libertine', Times, serif;
    line-height: 1.3em;
    max-height: 85px;
    overflow-y: scroll;
    margin: 1em 0 0.5em;
	font-size:0.85rem;
}

div#ccshare_reference{
  display: none;
    background: url('../img/reference.png') left top no-repeat;
	background-size: 27px 27px;
    padding-left: 34px;
    height: 27px;
  font-family: 'Linux Libertine', Times, serif;
	font-size:0.85rem;
	
}
div#ccshare_link{
  display: none;
    background: url('../img/link.png') left top no-repeat;
	background-size: 27px 27px;
    padding-left: 34px;
    height: 27px;
  font-family: 'Linux Libertine', Times, serif;
	font-size:0.85rem;
}
#ccshare_cc{
  width: 100%;
  height: 30px;
    background: url('../img/creative-commons-d08.png') left top no-repeat;
	background-size: 130px;
  font-family: source_sans_pro, Arial, sans-serif;
}

div#ccshare_botton{
  height:30px;
	flex: 3 0 0;
}

div#ccshare_botton a, div#ccshare_botton a:visited, div#ccshare_botton a:active{
     display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
	background:#d08;
  border:3px solid transparent;
	font-weight:700;
  background-image: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform:uppercase;
  border-radius: 20px;
  width: 14px;
}
div#ccshare_botton a:not(:last-child){
  margin-right: 3px;
}

div#ccshare_botton a.facebook, div#ccshare_botton a.twitter{
	width: 20px;
    padding: 5px;
    font-size: 17px;}

div#ccshare_botton a:hover{
	 color: #d08;
	background:#fcfcfc;
   border:3px solid #d08;
   }
div#ccshare_head{
  margin-top:2px;
  margin-bottom:20px;
}

.fabutt{
  font-family: 'FontAwesome';
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin: 0;
	font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
	
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}

.icon-copy:before {
    content: "\f0c5";
	color:#fff;
	margin: 0 5px 0 0;
}

.icon-facebook:before {
    content: "\f09a";
	color:#fff;
	
}

.icon-twitter:before {
    content: "\f099";
	color:#fff;
}

div#ccshare_botton a:hover [class^="icon-"]:before, div#ccshare_botton a:hover [class*=" icon-"]:before{
	color:#000;
	}

.icon-caret-down:before {
    content: "\f0d7";
	padding-left: 5px;
}


#fuori{
	background:#F00;
	color:#FFF;
	padding:30px;}
	
@media(max-width:740px){
div#ccshare_panel {
	width:96%;
	position:fixed;
	font-size: 0.85rem;
	padding:2%;
  background-color: #fcfcfc;
  border-top:1px solid #d08;
  padding-bottom:0;
}
div#ccshare_panel:after {
  border: 0;
}
div#ccshare_subtitle {
    padding: 0.3em 0 0 0;
}
div#ccshare_text {
    margin:0 0 0.5em 0;
    font-size: 0.80rem;
}
div#ccshare_head{
  width: 50%;
  float:left;
  display: inline;
}
div#command_line{
  text-align: right;
  width: 50%;
  float: left;
  display: inline;
}
div#ccshare_cc{
    background: url('../img/creative-commons-d08.png') right top no-repeat;
}
div#ccshare_botton a{
font-size:12px;
}
div#ccshare_reference, div#ccshare_link, div#ccshare_cc {
	font-size: 0.75rem;
    line-height: 1;
}	
}
